<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../static/js/scripts.js"></script>
    <link rel="stylesheet" href="../static/css/template.css"/>

    <script>
    </script>
</head>

<body>

<div class="wrap ">

    <div class="middle">

        <span>middle</span>

    </div>

</div>


<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<![endif]-->

</body>
</html>